.agnt_search {
  display: flex;
  padding: 2px;
}

.card_width {
  width: 40rem;
}

.sub_card_width {
  width: 30rem;
}


.agnt_search_btn {
  margin-left: 0.5rem;
}

.agentTableView {
  margin-top: 0.8rem;
  cursor: pointer;
}

.agent_info_body {
  display: flex;
  justify-content: space-between;
}

.agent_info_btn {
  margin-top: 3rem;
  float: right;
}

.save_btn {
  float: right;
  margin-top: 1rem;
}

.workflow_select {
  width: 15rem !important;
  
}

.workflow_party_type {
  float: left;
}

.workflow_account_type {
  float: right;
}

.workflow_label{
  margin-left: 5rem;
}